<script type="text/javascript">
(function(){
    
    const delegation = document.querySelector('#contents_container')
    const textField = document.querySelector('#text_field')
    
    function delegationFunc(e){
        let elem = e.target  // 클릭 타겟을 구분해 각기 다른 작업을 할 수 있다.
        console.log(elem)

        while(!elem.getAttribute('data-name')){  // data-name을 갖는 node elem 탐색
            elem = elem.parentNode

            if(elem.nodeName === 'BODY'){
                elem = null
                return
            }
        }
        
        // 좋아요 기능
        if(elem.matches('[data-name="heartbeat"]')){
            //console.log('하트!')

            const pk = elem.getAttribute('name')
            console.log(pk)

            $.ajax({
                type: "POST",
                url: "{% url 'post:post_like' %}",  // html에 직접 삽일 할 때의 장점. js에서 django의 문법 사용 가능
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response){
                    const likeCount = document.querySelector('#like-count-'+pk)
                    likeCount.innerHTML = response.like_count
                },
                error: function(request, status, error){
                    alert("code:" + request.status + "\nmessage:" + request.responseText + "\nerror:" + error)
                }
            })
        }

        // 북마크 기능
        if(elem.matches('[data-name="bookmark"]')){
            //console.log('북마크')
            
            const pk = elem.getAttribute('name')

            $.ajax({
                type: "POST",
                url: "{% url 'post:post_bookmark' %}",
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response){
                    let btn_bookmark_text = ""

                    if(response.is_bookmarked === 'N')
                        btn_bookmark_text = "저장하기"
                    else if(response.is_bookmarked === 'Y')
                        btn_bookmark_text = "저장됨"

                    const bookmark = document.querySelector('.bookmark').innerHTML = btn_bookmark_text
                },
                error: function(request, status, error){
                    alert("code:" + request.status + "\nmessage:" + request.responseText + "\nerror:" + error)
                }
            })
        }
    
        // 친구 신청
        if(elem.matches('[data-name="friend_request"]')){
            //console.log('친구요청')
            const user_id = elem.getAttribute('name')
            //console.log(user_id)

            $.ajax({
                type: "POST",
                url: "{% url 'accounts:create_friend_request' %}",
                data: {
                    'pk': user_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "json",
                success: function(response){
                    console.log('성공')
                    elem.innerHTML = "친구요청중"
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error)
                }
            })

        }


        // comment 추가
        if(elem.matches('[data-name="comment"]')){
            const pk = elem.getAttribute('name')
            const content = document.querySelector('#add-comment-post'+pk+'>div>input[type=text]').value

            if(content.length > 140){
                alert("댓글은 최대 140자 입력 가능합니다. 현재 글자수: "+ content.length)
                return
            }
            if(content.length == 0){
                alert("글자를 하나라도 넣어주세요. 현재 글자수 :"+content.length)
                return
            }

            $.ajax({
                type: "POST",
                url: "{% url 'post:comment_new' %}",
                data: {
                    'pk': pk,
                    'content': content,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "html",
                success: function(data, textStatus, jqXHR){
                    document.querySelector("#comment-list-ajax-post" + pk).insertAdjacentHTML("afterbegin", data)
                    location.reload()
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error)
                }
            })
        }

        // comment 삭제
        if(elem.matches('[data-name="comment_delete"]')){
            const pk = elem.getAttribute('name')

            $.ajax({
                type: "POST",
                url: "{% url 'post:comment_delete' %}",
                data: {
                    'pk': pk,
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                },
                dataType: "json",
                success: function(response){
                    if(response.status){
                        document.querySelector("#comment"+pk).remove()
                        location.reload()
                    }
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error)
                }
            })
        }

        // post 추가
        if(elem.matches('[data-name="add"]')){
            //console.log("글추가")
            textField.style.height = '100px'
            submit.disabled = false
            submit.parentNode.style.display = 'block'
        }

        // 좋아요, more 버튼 toggle
        elem.classList.toggle('active')
    }


    function scrollfunc(){
        // pageYOffset : Window 안의 Document가 수직 방향으로 스크롤된 거리를 픽셀 단위로 나타낸 부동소숫점 수
        // innerHeight : 창 틀을 뺀 창 높이
        const scrollHeight = pageYOffset + window.innerHeight
        
        // 스크롤 시키지 않았을때의 전체 높이
        const documentHeight = document.body.scrollHeight

        // 스크롤 다 내리면
        if(scrollHeight >= documentHeight){
            const page = document.querySelector('#page').value

            console.log(page)


            const end_page = "{{ posts.paginator.num_pages }}"
            if(page > end_page)
                return
            
            document.querySelector('#page').value = parseInt(page) + 1
            callMorePostAjax(page)
        }
    }

    function callMorePostAjax(page){
        const end_page = "{{ posts.paginator.num_pages }}"

        //console.log('callmore')

        if(page > end_page)
            return
        
        $.ajax({
            type: "POST",
            url: "{% url 'post:post_list' %}",
            data: {
                'page': page,
                'csrfmiddlewaretoken': "{{ csrf_token }}",
            },
            dataType: "html",
            success: addMorePostAjax,
            error: function(request, status, error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error)
            }
        })
    }

    function addMorePostAjax(data, textStatus, jqXHR){
        let post = document.querySelector('#post_list_ajax')

        post.insertAdjacentHTML("beforeend", data)
    }


    window.addEventListener('scroll', scrollfunc)    
    delegation.addEventListener('click', delegationFunc)

})() // 익명함수

</script>